$color : #fff;
$size : 400px;
$height : 600;

.box{
    background-color: $color;
    width: $size;
    height: $height + px;
}
.box2{
    // width: $size / 2
    width: $size - 50;
    height: $height * 3 + px; 
}

$color2 : red;

.box3{
    background-color: $color2;
}
.box4{
    $color3 : blue;
    color : $color3;
}
.box5{
    $color2 : green;
    color : $color2;
}

$size2 : 20px;    

.title{
    font-size: $size2;
}
.content{
    $size2 : 30px !global;
    font-size: $size2;    
}
.box6{
    font-size: $size2;
}
$color4 : #03cafc;
$color5 : #fcb103;
$color6 : #403f3e;
$color7 : #828181;

$font1 : 'Roboto', 'sans-serif';
$font2 : 'Rubik', 'sans-serif';
$font3 : 'Great vibes', 'cursive';

.title2{
    color : $color4;
    font-family : $font1;    
}
.institutional h1{
    color : $color5;
    font-family : $font2;    
}
.institutional p{
    color : $color6;
    font-family :  $font3; 
}


















