/* Text */
.text-center{
    text-align: center;
}

.heading-small{
    font-size: 1.25rem;
}

.heading-medium{
    font-size: 1.5rem;
}

.heading-big{
    font-size: 1.75rem;
}

/* Colors */
.bg-dark-blue{
    background-color: darkblue;
}

.bg-light-blue{
    background-color: lightblue;
}
/* Buttons */
.btn{
    font-size: 1.5rem;
    margin-top: 1.5rem;
    padding: 1rem 3rem;
    letter-spacing: 0.75px;
    border-radius: 10px;
}
.btn-primary{
    color:blue;
    background-color: aqua;
    border: 2px solid red;
}
.btn-primary:hover{
    color: aqua;
    background-color: blue;
    border: 2px solid chocolate;
}
.btn-dark{
    background-color: #333;
    border: 2px solid black;
}
.btn-dark:hover{
    color: #333;
    background-color: #fff;
    border: 2px solid brown;
}
.btn-block{
    width: 100%;
    text-align: center;
}
/* Container */
.container{
    max-width: 1100px;
    margin: 0 auto;
}


